body{
    background-color: gainsboro;
}
.time small{
    font-weight: lighter;
    font-size: xx-small;
}
#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flexCol{
    display: flex;
    flex-direction: column;
}

main{
    width: 75%;
    margin: 15px;
    padding: 0;

    border-radius: 20px;
    background: #ffffff;
    box-shadow:  5px 5px 23px #f2f2f2,
             -5px -5px 23px #ffffff;
}

nav{
    margin: 20px;
}

article{
    margin-bottom: 15px;
}

form{
    display: flex;
    flex-direction: row;
}
form input{
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}
form input:nth-child(1){
    flex-grow: 5;
}
form input:nth-child(2){
    flex-grow: 1;
}
#list-title{
    margin-left: 15px;
    margin-right: 15px;
}
#list-view section{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

#list-view section div:nth-child(2){
    flex-grow: 5;
}
#list-view section div{
    flex-grow: 1;
    display: flex;
    flex-basis: 0;
    justify-content: center;
}
#list-view section div input{
    text-align: center;
    width: 100%;
}